streamlit
google-cloud-aiplatform
pandas
numpy
python-dotenv
streamlit-js-eval
st-pages
PyMuPDF
streamlit_pdf_viewer
ipython
google-cloud-logging
scikit-learn
langchain-pinecone
langchain 
langchain-community
langchain-experimental 
xmltodict
pubmed-api
chroma
langchain-google-genai
pypdf
pinecone-client
semanticscholar
langchainhub
lark
langchain-chroma
google-ai-generativelanguage
langchainhub 
google-generativeai
langchain-google-community
beautifulsoup4
html2text
faiss-cpu
streamlit-authenticator