pandas
numpy
python-dotenv
PyMuPDF
ipython
langchain-pinecone
langchain 
langchain-community
langchain-experimental 
langchain-core
langchainhub 
tabulate
markdownify 
sentence-transformers
rapidocr-onnxruntime
pymupdf4llm
langchain-nomic
tiktoken   
langgraph 
tavily-python 
gpt4all 
langchain-text-splitters
ollama
langchain-ollama
langchain-openai
fastapi
pydantic
uvicorn