streamlit
google-cloud-aiplatform
pandas
numpy
python-dotenv
PyMuPDF
streamlit_pdf_viewer
ipython
langchain 
langchain-community
langchain-experimental 
xmltodict
pymupdf4llm
langchain-google-genai
pypdf
langchainhub 
google-generativeai
langchain-google-community
tavily-python
streamlit-authenticator
pymupdf4llm
detectaicore
langchain-google-vertexai
langgraph
langchain-openai
yfinance
jupyter
jupyterlab
matplotlib
plotly
