streamlit
google-cloud-aiplatform
pandas
numpy
python-dotenv
streamlit-js-eval
st-pages
streamlit_pdf_viewer==0.0.12
ipython
google-cloud-logging
scikit-learn
langchain-pinecone
langchain 
langchain-community
langchain-experimental 
xmltodict
langchain-google-genai
langchain-openai
langchain-huggingface
pypdf
pinecone-client
semanticscholar
langchainhub
lark
langchain-chroma
google-ai-generativelanguage
langchainhub 
google-generativeai
langchain-google-community
beautifulsoup4
html2text
streamlit-authenticator
jupyter
jupyterlab
langchain-elasticsearch