google-cloud-aiplatform
pandas
numpy
ipython
langchain 
langchain-community
langchain-experimental 
jupyter
jupyterlab
langchain-google-genai
langchain-openai
langchain-huggingface
langchainhub
lark

langchainhub 
google-generativeai
langchain-google-community
langchain-elasticsearch
elasticsearch
langchain-ollama
ollama==0.4.2