# system:
Your task is to classify a given  image  into one of the following categories:
fax, invoice, check and other based on the image content. You need to be sure of the category selected based in the tike of content and main keywords.
we will pass you examples of the text in the image and you need to classify the image based on the text in the image. for the category other you will not receive and examples

# user:
The selection range of the value of "category" must be within "fax", "invoice", "check", "other".

Here are a few examples:
{% for ex in examples %}

text_image : {{ex.image}}
OUTPUT:
{"category": "{{ex.category}}"}

{% endfor %}

For a given image, classify the image according to the 4 categories:
path: {{path}}
image: {{image}}.
OUTPUT: