jupyter
jupyterlab
pdfplumber
streamlit
google-cloud-aiplatform
pandas
numpy
python-dotenv
streamlit-js-eval
st-pages
PyMuPDF
streamlit_pdf_viewer==0.0.12
ipython
scikit-learn
langchain-pinecone
langchain 
langchain-community
langchain-experimental 
xmltodict
chroma==0.5.0
langchain-google-genai
pypdf
lxml 
pinecone-client
langchainhub
lark
langchain-chroma>=0.1.2
google-ai-generativelanguage
google-generativeai
langchain-google-community
beautifulsoup4
html2text
faiss-cpu
streamlit-authenticator
openpyxl
xlrd
langchain-elasticsearch
tabulate
detectaicore
langchain-nvidia-ai-endpoints 
markdownify 
sentence-transformers
langchain-google-vertexai
protobuf==3.20
unstructured[all-docs]
pillow 
