pandas
numpy
python-dotenv
PyMuPDF
ipython
scikit-learn
langchain 
langchain-community
langchain-experimental 
xmltodict
chromadb==0.5.0
pypdf
semanticscholar
langchainhub
lark
langchain-chroma>=0.1.2
langchainhub 
beautifulsoup4
html2text
faiss-cpu
streamlit-authenticator
openpyxl
xlrd
tabulate
detectaicore
markdownify 
sentence-transformers
rapidocr-onnxruntime
pymupdf4llm
langchain-nomic
tiktoken   
langgraph 
tavily-python 
langchain-text-splitters
ollama
fastapi
pydantic
uvicorn
langserve
langchain-core
langchain_community
langchain-huggingface
gpt4all
